.billboard--sessions {
  padding-top: 50px;
  .timeslots {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    .timeslot {
      width: 100%;
      @media (min-width: $tablet) {
        width: 49%;
      }
      text-align: center;
      .inner {
        text-align: left;
      }
    }
    .timeslots-spacer {
      width: 0%;
      @media (min-width: $tablet) {
        width: 2%;
      }
    }
  }
  // individual session component 
  .session {
    padding: 20px;
    background-color: white;
    border: 2px solid #CCCCCC;
    .top {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .top-content {
      width: 93%;
    }
    .top-control {
      width: 7%;
      position: relative;
      .plus, .minus {
        position: absolute;
        color: #2128BD;
        font-weight: bold;
        font-size: 3rem;
        transition: 0.1s ease;
        cursor: pointer;
      }
      .minus {
        top: -4px;
        left: 6px;
      }
      .show {
        opacity: 100%;
      }
      .hide {
        opacity: 0;
      }
    }
    .time {
      display: inline-block;
    }
    .room {
      margin-left: 20px;
      display: inline-block;
    }
    .info {
      display: none;
      // transition: all 0.5s;
    }
    h4 {
      text-transform: initial;
      font-weight: bold;
      color: #C61A40;
    }
    .plus {
      
  }
  }
}
